<div class="home__container">
  <app-card
    gameCover="assets/bt-1.jpg"
    gameType="DIGITAL | PS4"
    gameLabel="DIGITAL"
    gamePrice="349,90"
  ></app-card>
  <app-card
    gameCover="assets/ac-cover.jpg"
    gameType="DISC | PS5"
    gameLabel="EXCLIVE"
    gamePrice="399,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-hardline.jpg"
    gameType="DIGITAL | PS4 PS3 "
    gameLabel="NEW"
    gamePrice="550,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-bad-company-2.jpg"
    gameType="DISC | PS3 PS4 PS5"
    gameLabel="BEST OF YEAR"
    gamePrice="399,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-5.jpg"
    gameType="DIGITAL | PS4"
    gameLabel="NEW"
    gamePrice="269,90"
  ></app-card>
  <app-card
    gameCover="assets/bt-4.jpg"
    gameType="DIGITAL | PS4"
    gameLabel="DIGITAL"
    gamePrice="199,90"
  ></app-card>
</div>
